<table class="job" summary="Job information">
  <tr>
    <td class="main">
      <h1>
      Results:
      </h1>
      <table class="results">
        <td>
          <strong>gi</strong>
        </td>
        <td>
          <strong>score</strong>
        </td>
        <% @results.each do |result|  %>
          <tr>
            <td>
              <%= link_to result.gi, result %>
            </td>
            <td>
              <%= result.score %>
            </td>
          <tr>
        <% end %>
      </table>
    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= @job.name %> <br />
      <strong>User:</strong> <%= @job.user.name %> <br />
      <strong>Method:</strong> <%= @job.method %> <br />
      <strong>Genome:</strong> <i><%= @job.genome %> </i><br />
      <strong>Public?</strong> <%= @job.public %> <br />
      <strong>URL:</strong> <%= link_to job_path(@job), @job%> <br />
    <% if current_user?(@job.user) %>
      <strong>
      <%= link_to "delete job?", @job,       :method => :delete,
                                       :confirm => "You sure?",
                                       :title => @job.name %>
      </strong>
    <% end %>
    </td>
  </tr>
</table>