<table class="job" summary="Job information">
  <tr>
    <td class="main">
      <h1>
      Results:
      </h1>
            
      <% unless @job.results.empty? %>
        <table class="results">
          <td>
            <strong>Accession</strong>
          </td>
          <td>
            <strong>Score</strong>
          </td>
          <td>
            <strong>Length</strong>
          </td>
          <%= render @results %>
          <%= will_paginate @results %>
        </table>
          <%= will_paginate @results %>
      <% end %>


    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= @job.name %> <br />
      <strong>User:</strong> <%= @job.user.name %> <br />
      <strong>Method:</strong> <%= @job.method %> <br />
      <strong>Genome:</strong> <i><%= @job.genome %> </i><br />
      <strong>Public?</strong> <%= @job.public %> <br />
      <strong>URL:</strong> <%= link_to job_path(@job), @job%> <br />
    <% if current_user?(@job.user) %>
      <strong>
      <%= link_to "delete job?", @job,       :method => :delete,
                                       :confirm => "You sure?",
                                       :title => @job.name %>
      </strong>
    <% end %>
    </td>
  </tr>
</table>