<table class="profile" summary="User information">
  <tr>
    <td class="main">
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name%>
      </h1>
      <% unless @user.jobs.empty? %>
        <table class="jobs">
          <td>
            <strong>Job Name</strong>
          </td>
          <td>
            <strong>Method</strong>
          </td>
          <td>
            <strong>Results</strong>
          </td>
          <%= render @jobs %>
          <%= will_paginate @jobs %>
        </table>
          <%= will_paginate @jobs %>
      <% end %>
        
    </td>
    <td class="sidebar round">
      <strong>Email:</strong> <%= @user.email %> <br />
      <strong>Jobs:</strong> <%= @user.jobs.count %> <br />
      <strong>URL:</strong> <%= link_to user_path(@user), @user%> <br />
    </td>
  </tr>
</table>