<%= semantic_form_for @job, :remote => true, do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <%= f.inputs :name => "Basic" do %>
    <%= f.input :name %>
    <div id="jobPrograms">
    <%= f.input :method, :collection => Program.find(:all, :order => :name).collect{ |p|
                                                                     [p.name,p.id]}, :required => true %>
    </div>
    <div id="jobOptions">

    </div>

  <% end %>

  <%= f.buttons :commit %>

<% end %>
