<header>
 <% logo = image_tag("gpanda.png", :alt => "panda icon", :class => "round") %>
 <%= link_to logo, root_path %>
  <nav class="round">
   <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Users", user_path %></li>
    <li><%= link_to "Jobs", jobs_path %></li>
    <li><%= link_to "Demo", demo_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "Sign in", '#' %></li>
   </ul>
  </nav>
</header>
