<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title> 
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tag %>
  <%= formtastic_stylesheet_link_tag %>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.min.js', 'rails.js', 'jquery.js', 'application.js' %>
</head>
<body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}")%>
        <% end %>  
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
